body {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
}

.left-container {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 350;
    font-size: 1.4rem;
    margin-left: 20px;
    margin-bottom: 5px;
}

input {
    width: 300px;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 20px;
    border-radius: 5px;
}

select {
    width: 300px;
    font-weight: 300;
    font-size: 1.3rem;
    margin-left: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}


.right-container {
    /* background-color: rgb(148, 158, 177); */
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 50%;
}


h1 {
    display: flex;
    text-align: center;
    margin-left: 20px;
}

h3 {
    display: flex;
    margin-left: 20px;
    align-items: center;
}


h2 {
    display: flex;
    margin-left: 20px;
}

.final-result {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

.center-div {
    background-color: lightgray;
    min-width: 2px;
}

input[type=checkbox] {
    transform: scale(1.75);
    margin-left: -115px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px 15px;
    margin-left: 20px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 30px;
}